.heading-1 {
   font-size: 5rem;
   margin-bottom: 1rem;
}

.heading-2 {
   font-size: 4rem;
   margin-bottom: 1rem;
}

.heading-3 {
   font-size: 3rem;
   margin-bottom: 1rem;
}

.hl {
   color: crimson;
}

.lead {
   font-size: 2.2em;
}

.center {
   text-align: center;
}
