// $bg-color: #9DBCD4;
// $dark-color: #6D5ACF;
// $line-color: #FFFD01;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import "./vars";
@import "./text";
@import "./animations";
@import "./sections";
@import "./components";
html {
   font-family: Lato;
   color: white;
   font-size: 62.5%;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

section {
   padding: 5rem 0;
}

@media (max-width: 600px) {
   html {
      font-size: 50%;
   }
}
