.nav {
   width: 100%;
   background-color: $bg-color;
   &__links {
      margin-left: 10%;
      width: 40%;
   }
   ul {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 1rem;
      li {
         font-size: 1.7rem;
         transition: all 0.3s ease;
         font-family: inherit;
         cursor: pointer;
         text-align: center;
         height: 100%;
         margin: 0 2rem;
         text-transform: uppercase;
         // flex: 1;
         &:hover {
            color: orangered;
         }
      }

      li.active {
         color: orangered;
      }
   }
}

.btn {
   cursor: pointer;
   font-family: inherit;
   border: 2px solid;
   outline: 0;
   padding: 15px;
   transition: all 0.4s;
   &--primary {
      background-color: $line-color;
      color: white;
      font-size: 1.5rem;

      &:hover {
         background-color: darken($line-color, 7%);
      }
   }
}

.container {
   margin: auto;
   max-width: 1200px;
   width: 100%;
}

.flexcenter {
   display: flex;
   align-items: center;
   justify-content: center;
}

.underline {
   height: 5px;
   width: 70px;
   margin: 2.5rem 0 10rem 0;
   background-color: #000;
}

.animateLeft {
   animation: leftFade 1.4s ease forwards;
}

.animateRight {
   animation: rightFade 1.4s ease forwards;
}

.animateUp {
   animation: upFade 0.6s ease forwards;
}

@media (max-width: 1000px) {
   .nav__links {
      width: 100%;
      margin: 0;
      ul {
         justify-content: center;
      }
   }
}

@media (max-width: 500px) {
   .nav__links {
      width: 100%;
      margin-left: 0;
   }
}
