.heading-1 {
   font-size: 5rem;
   margin-bottom: 1rem;
}

.heading-2 {
   font-size: 4rem;
   font-family: Patrick Hand;
   margin-bottom: 1rem;
   letter-spacing: 2px;
}

.heading-3 {
   font-size: 2.6rem;
   margin-bottom: 1rem;
}

.hl {
   color: crimson;
}

.lead {
   font-size: 2.2em;
}

.center {
   text-align: center;
}
